<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.Studybridge"
        tools:targetApi="31">

        <activity
            android:name=".StartPage"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ProfileMainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".StateNavRemoveActivity"
            android:exported="true"
            android:theme="@style/AppTheme"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:windowSoftInputMode="adjustResize">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".PlanSettingActivity"
            android:exported="false" />
        <activity
            android:name=".GoalSettingActivity"
            android:exported="false" />

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
        <activity
            android:name=".WelcomeActivity"
            android:exported="true" />
        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
        <activity
            android:name=".TutorialActivity"/>
        <activity android:name=".AgreementActivity"/>

        <activity android:name=".MainActivity"/>
        <activity
            android:name=".ScoreTestMain"
            android:exported="true" />
        <activity
            android:name=".ScoreGradeCheck"
            android:exported="true" />
        <activity
            android:name=".ScoreTestCheck"
            android:exported="true" />
        <activity
            android:name=".ScoreGradeMain"
            android:exported="true" />
        <activity
            android:name=".ScoreTestSave"
            android:exported="true"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".StudyTime"
            android:exported="true"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".ScoreGradeSave"
            android:exported="true"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".ScoreMain"
            android:exported="true"
            android:theme="@style/Theme.Studybridge">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".StudyBridgeMainHome"
            android:exported="true"
            android:windowSoftInputMode="adjustPan" />

    </application>

</manifest>